<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>myDictionaries</title>
</head>
<body>
<form action="/dictionaries/add" method="POST">
    <label>Learning language</label>
    <input type="text" name="learning_language">
    <input type="submit" value="create dictionary">
</form>
<p>Your dictionaries</p>
<table>
    <tr>
        <th>№</th>
        <th>Name</th>
    </tr>
    <tr th:each ="dictionary : ${dictionaryList}">
        <td><span th:text = "${dictionary.id + 1}"> # </span></td>
        <td><a th:href="@{/wordlist(id=${dictionary.id})}"><span th:text = "${dictionary.learningLang}"> name </span></a></td>

    </tr>
</table>


</body>
</html>